<div id="trainingPrograms-container" class="container-fluid">
    <div class="modal-header">
        <h4 class="modal-title">Upcoming Trainings</h4>
    </div>
    <div class="modal-body">
        <p ng-if="programs.length == 0">No Upcoming Programs</p>
        <table ng-if="programs.length > 0" id="training-programs-table" class="table table-striped table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Program Name</th>
                    <th>Start Date</th>
                    <th>Open Seats</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="program in programs">
                    <td class="text-right"><input class="training-form-check-input form-check-input" name="training-checkbox" type="checkbox" value="{{program.ProgramId}}"></td>
                    <td>{{program.Name}}</td>
                    <td>{{program.StartDate | amDateFormat:'MMMM DD YYYY'}}</td>
                    <td>{{program.RemainingSeats}} of {{program.MaxAttendees}}</td>
                </tr>
            </tbody>
        </table>
        <button ng-click="$dismiss()" class="btn btn-secondary cancel-btn">Cancel</button>
        <button ng-click="addSelectedTrainings()" class="btn btn-primary add-btn">Save</button>
    </div>
</div>
