<div ng-controller="EmployeeEditController">
    <h1>{{header}}</h1>
    <fieldset ng-disabled="formDisabled">
        <div class="form-group col-sm-6">
            <label for="inputFirstName">First Name</label>
            <input ng-disabled="true" ng-model="employee.FirstName" required type="input" class="form-control" id="inputFirstName" aria-describedby="FirstName">
        </div>
        <div class="form-group col-sm-6">
            <label for="inputLastName">Last Name</label>
            <input ng-model="employee.LastName" required type="input" class="form-control" id="inputLastName" aria-describedby="LastName">
        </div>
        <label for="selectDepartment">Department</label>
        <div class="form-group">
            <select id="deparmentDropdown" ng-model="employee.DepartmentId">
                <option ng-repeat="department in departments" value="{{department.DepartmentId}}">{{department.Name}}</option>
            </select>
        </div>
        <label for="selectComputer">Reassign Computer</label>
        <div class="form-group">
            <select id="computerDropdown" ng-model="computers.ComputerId">
                <option ng-repeat="computer in computers" value="{{computer.ComputerId}}">{{computer.Make}}</option>
            </select>
        </div>
        <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-primary" ng-click="saveUpdatedEmployee(employee.EmployeeId)">Save</button>
        </div>
    </fieldset>

    <div class="row align-items-center">
        <div class="employee-edit-tbl-div">
            <table class="table table-striped table-bordered table-hover">
                <caption>List of enrolled training programs</caption>
                <thead>
                    <tr>
                        <th scope="col" class="th">Program Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="program in training">
                        <td>{{program.Name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="">
                                <button type="button" class="btn btn-secondary" ng-click="deleteEmployeeTraining(employee.EmployeeId)">Delete</button>
                            </div>
                </tbody>
            </table>
        </div>
    </div>
