<div ng-init="getEmployeeDetails()"></div>
<div><h1 class="employee-title">{{employee.FirstName}} {{employee.LastName}}</h1></div>

<fieldset ng-disabled="formDisabled">
    <div class="form-group col-sm-6">
        <label for="inputFirstName">First Name</label>
        <input ng-model="employee.FirstName" required type="input" class="form-control" id="inputFirstName" aria-describedby="FirstName">
    </div>
    <div class="form-group col-sm-6">
        <label for="inputLastName">Last Name</label>
        <input ng-model="employee.LastName" required type="input" class="form-control" id="inputLastName" aria-describedby="LastName">
    </div>
    <label for="departmentDropdown">Department</label>
    <div class="form-group col-sm-4">
        <input ng-model="employee.DepartmentName" required type="input" class="form-control" id="inputDepartmentName" aria-describedby="DepartmentName">
    </div>
    <div class="form-group col-sm-4">
        <label for="inputComputer">Computer</label>
        <input ng-model="employee.ComputerMake" required type="input" class="form-control" id="InputComputer" aria-describedby="Computer">
    </div>
    <button type="button" class="btn btn-primary" ng-click="launchModal('App/Partials/Employees/AddTraining.html','Employees/EmployeeDetailsController')"
            ng-controller="ModalController">
        Add Training
    </button>
</fieldset>


<div class="row align-items-center">
    <div class="employee-edit-tbl-div">
        <table class="table table-striped table-bordered table-hover">
            <caption>List of enrolled training programs</caption>
            <thead>
                <tr>
                    <th scope="col" class="th">Program Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="program in training">
                    <td>{{program.Name}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="">
                            <button type="button" class="btn btn-secondary" ng-click="deleteEmployeeTraining(employee.EmployeeId)">Delete</button>
                        </div>
            </tbody>
        </table>
        <div class="btn-block">
            <button type="button" class="btn btn-warning" ng-click="navigateToEditEmployee()">Edit</button>
            <button type="button" class="btn btn-primary" ng-click="backToEmployees()">Back</button>
        </div>
    </div>
</div>
