body {
    padding-top: 51px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 19px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

/* TABLE STYLES */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border-bottom: none;
}

.training-form-check-input {
    margin-left: -7px; 
}

.training-programs-row {
    cursor:pointer; 
}

th {
    border-bottom: none !important;
    border-top: none !important;
}

.table-bordered th, .table-bordered td {
    border: 1px solid white;
}

.th {
    padding: 10px 30px;
    background-color: cornflowerblue;
    font-size: 1.2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFF;
}


.main-tbl-div {
    width: 50%;
    padding-top: 41px;
}

.training-tbl-div {
    width: 75%;
    padding-top: 41px;
}

/* FONT STYLES */
h1 {
    text-align: center;
    margin-top: 20px;
}

h6 {
    text-align: center;
    margin-bottom: 30px;
}

caption {
    text-align: center;
}

/* NAVBAR STYLES */


.navbar {
    border-bottom: 1px solid lightblue;
    background-color: white;
}

/* BUTTON STYLES*/

.add-btn {
    margin-top: 15px;
}

.add-dept-container {
    margin-left: -19px;
}

