<script type="text/ng-template" id="myModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Hello, Modal!</h3>
    </div>
    <div class="modal-body">
        <p>{{someMessage}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</script>

<!--<div>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Whoa! </h3>
        </div>
        <div class="modal-body" id="modal-body">
            <h4>Are you sure you want to delete...</h4>
            <p>Computer {{computer.ComputerId}} {{computer.Manufacturer}}, {{computer.Make}} purchased on {{computer.PurchaseDate}}?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Yes, Delete</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>

</div>-->